venv/
database_backups/
/WildlifeObservations/wildlife-observations-db.sqlite3
/WildlifeObservations/wildlife-observations-db.sqlite3.*
/WildlifeObservations/wildlife-observations-db.sqlite3-*

.idea/

*.pyc
__pycache__/
