venv/
database_backups/
test_data/
data_exports/
/WildlifeObservations/wildlife-observations-db.sqlite3
/WildlifeObservations/wildlife-observations-db.sqlite3.*
/WildlifeObservations/wildlife-observations-db.sqlite3-*

.idea/

*.pyc
__pycache__/
